.box-num {
    background-color: #1e293b;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    box-shadow: 0 10px 30px 5px green;
}

.box-ppt {
    background-color: #1e293b;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    box-shadow: 0 10px 30px 5px red;
}