body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-branca {
    width: 30px;
    height: 23px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

.box-flex {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.lista-jogos {
    padding: 10px;
    border-radius: 20px;
    background-color: #1e293b;
    box-shadow: 0 15px 30px 10px rgba(2, 95, 182, 0.664);
    width: 250px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

select {
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #3b82f6;

    background-color: #111827;
    color: white;
}

input {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #3b82f6;

    background-color: #111827;
    color: white;
}

nav {
    display: flex;
    padding: 10px;
    gap: 20px;
}

button {
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    padding: 12px;

    border: none;
    border-radius: 20px;

    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 40px;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
}

.home {
    width: 50px;
    height: 20px;

    background-color: #1e293b;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 20px 2px rgba(2, 95, 182, 0.664);

    display: flex;
    justify-content: center;
}

.btn-home {
    color: white;
}