{% extends 'index.html' %}

{% block conteudo %}
    <header>
        <h2>Vamos jogar: Pedra, Papel e Tesoura</h2>
    </header>

    <div class="box-list">
        <div class="box-escolha">
            <h2>Prepare-se para jogar!</h2>
            <form action="" method="POST">
                <select name="escolha">
                    <option value="" disabled selected>&gt; Selecione a Opção &lt;</option>
                    <option value="pedra">Pedra</option>
                    <option value="papel">Papel</option>
                    <option value="tesoura">Tesoura</option>
                </select>
                <button type="submit">Jogar</button>
            </form>
        </div>
    </div>

    {% if resultado %}
    <div class="result">
        <p>Sua Escolha: <strong>{{ usuario }}</strong></p>
        <p>Escolha do Computador: <strong>{{ computador }}</strong></p>
        <h3>{{ resultado }}</h3>
    </div>
    {% endif %}

    <div class="home">
        <a href="{{ url_for('jogos_py') }}" class="btn-home">Home</a>
    </div>
{% endblock %}